In [89]:
import pandas as pd

## download and read the CSV file and make ID the index column

In [90]:
data = pd.DataFrame
try:
    data = pd.read_csv("../data/auto.csv", index_col='ID')
    print(data)
except IOError as e:
    print(e)
    quit(1)

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## count the number of observations using the method count()

In [91]:
data.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

In [92]:
data.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)
data.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [93]:
print("values are missing:")
data.isnull().sum()

values are missing:

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [94]:
data.dropna(axis=1, thresh=(len(data.index) - 500), inplace=True)
print("values are missing:")
data.isnull().sum()

values are missing:

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [95]:
data['Refund'].fillna(method='ffill', inplace=True)

In [96]:
print("values are missing:")
data.isnull().sum()

values are missing:

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [97]:
data[data['Fines'].isnull()]

        CarNumber        Make_n_model  Refund  Fines
ID
11   E40577152RUS          Ford Focus     1.0    NaN
14    X786CO96RUS          Ford Focus     1.0    NaN
17   M592CH197RUS       Skoda Octavia     2.0    NaN
20   7830C8197RUS          Ford Focus     2.0    NaN
23   M298CH161RUS          Ford Focus     2.0    NaN
26   E445TC197RUS          Ford Focus     1.0    NaN
28   9371CE154RUS       Skoda Octavia     2.0    NaN
32   83298C154RUS          Ford Focus     2.0    NaN
33   Y7659C197RUS          Ford Focus     2.0    NaN
37   7364C8197RUS          Ford Focus     2.0    NaN
43   92928M178RUS          Ford Focus     1.0    NaN
58   O134HE197RUS          Ford Focus     1.0    NaN
70   Y973O8197RUS          Ford Focus     2.0    NaN
85   T395OT197RUS  Volkswagen Touareg     2.0    NaN
99    T6449O50RUS          Ford Focus     2.0    NaN
114  89587X197RUS        Toyota Camry     1.0    NaN
134   Y234E877RUS          Ford Focus     1.0    NaN
155  9402KK197RUS        Toyota Camry     2.0    NaN
177  Y960EE197RUS       Skoda Octavia     1.0    NaN
197  E42577152RUS          Ford Focus     2.0    NaN
211  Y275O8197RUS          Ford Focus     1.0    NaN
223  O77997197RUS          Ford Focus     2.0    NaN
234  704987163RUS          Ford Focus     2.0    NaN
260  C590EY154RUS          Ford Focus     2.0    NaN
276  7369C8197RUS          Ford Focus     2.0    NaN
300  9697MO178RUS     Volkswagen Golf     1.0    NaN
326  H115YO163RUS          Ford Focus     1.0    NaN
354  X504X8197RUS       Skoda Octavia     1.0    NaN
368  8437XX154RUS          Ford Focus     1.0    NaN
386   X782CO96RUS          Ford Focus     1.0    NaN
405   X286TC36RUS          Ford Focus     2.0    NaN
422  H977HY161RUS          Ford Focus     1.0    NaN
423  7788KT197RUS          Ford Focus     2.0    NaN
432  M0269X197RUS          Ford Focus     2.0    NaN
453  O22297197RUS          Ford Focus     1.0    NaN
478   T6319O50RUS          Ford Focus     2.0    NaN
495  K339T8197RUS          Ford Focus     2.0    NaN
511  E552MO152RUS          Ford Focus     1.0    NaN
528   C514X938RUS          Ford Focus     2.0    NaN
545  Y356O8197RUS          Ford Focus     2.0    NaN
565  E773EH197RUS          Ford Focus     2.0    NaN
582  Y687HM197RUS                 BMW     1.0    NaN
600  9940KK197RUS          Ford Focus     1.0    NaN
617  E0697X152RUS       Skoda Octavia     2.0    NaN
637  K2797K154RUS          Ford Focus     1.0    NaN
656  9589EY178RUS          Ford Focus     1.0    NaN
677  T242H8197RUS       Skoda Octavia     2.0    NaN
696  X4128H125RUS          Ford Focus     2.0    NaN
723  O64097197RUS          Ford Focus     2.0    NaN
748  7361C8197RUS          Ford Focus     1.0    NaN
766  Y656E8750RUS       Skoda Octavia     1.0    NaN
785  H387TM197RUS   Volkswagen Passat     1.0    NaN
805  H957HY161RUS          Ford Focus     1.0    NaN
826  90159H178RUS   Volkswagen Passat     1.0    NaN
839  Y964EE197RUS          Ford Focus     2.0    NaN
851  H232YH197RUS          Ford Focus     1.0    NaN
881   Y7129Y50RUS          Ford Focus     1.0    NaN
905  98087H178RUS          Ford Focus     1.0    NaN
923  O718MM163RUS          Ford Focus     2.0    NaN
930  H419XE197RUS      Toyota Corolla     2.0    NaN

In [98]:
fm = data['Fines'].mean()
print(f"Fines mean value:{fm}")
data['Fines'].fillna(fm, inplace=True)
print("values are missing:")
data.isnull().sum()

Fines mean value:8594.586466165414
values are missing:

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## split and parse the make and model

In [99]:
data[["Make", "Model"]] = data["Make_n_model"].apply(lambda x: pd.Series(str(x).split(" ")))
data.drop(["Make_n_model"], axis=1, inplace=True)
data.to_json (r'../data/auto.json', orient='records')