In [2352]:
import pandas as pd

## load the JSON file that you created in the previous exercise into a dataframe

In [2353]:
data = pd.DataFrame
try:
    data = pd.read_json("../data/auto.json", orient='records')
    data.set_index('CarNumber', inplace=True)
    print(data)
except IOError as e:
    print(e)
    quit(1)

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

## make the following selects

In [2354]:
filter1 = data[data["Fines"] > 2100]
print("the rows only where the fines are more than 2,100:")
filter1

the rows only where the fines are more than 2,100:

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [2355]:
filter2 = data[(data["Fines"] > 2100) & (data["Refund"] == 2)]
print("the rows only where the fines are more than 2,100 and the refund equals 2:")
filter2

the rows only where the fines are more than 2,100 and the refund equals 2:

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [2356]:
m_lst = ['Focus', 'Corolla']
filter3 = data[(data["Model"] == m_lst[0]) | (data["Model"] == m_lst[1])]
print(f"the rows only where the models are from the list: {m_lst}:")
filter3

the rows only where the models are from the list: ['Focus', 'Corolla']:

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [2357]:
cn_lst = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
print(f"the rows only where the car number is from the list: {cn_lst}:")
data.loc[cn_lst]

the rows only where the car number is from the list: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']:

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    8594.586466  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

## make the aggregations with the make and the model

In [2358]:
print("the median fines grouped by the make:")
data.groupby("Make")["Fines"].median()

the median fines grouped by the make:

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

In [2359]:
print("the median fines grouped by the make and the model:")
data.groupby(["Make", "Model"])["Fines"].median()

the median fines grouped by the make and the model:

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

In [2360]:
print("the number of fines grouped by the make and the model in order to understand if we can trust the median values:")
data.groupby(["Make", "Model"])["Fines"].count()

the number of fines grouped by the make and the model in order to understand if we can trust the median values:

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [2361]:
print("the minimum fines grouped by the make and the model in order to better understand the variance:")
data.groupby(["Make", "Model"])["Fines"].min()

the minimum fines grouped by the make and the model in order to better understand the variance:

Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     300.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

In [2362]:
print("the maximum fines grouped by the make and the model in order to better understand the variance:")
data.groupby(["Make", "Model"])["Fines"].max()

the maximum fines grouped by the make and the model in order to better understand the variance:

Make        Model
Ford        Focus      180000.000000
            Mondeo      46200.000000
Skoda       Octavia    145000.000000
Toyota      Camry       22400.000000
            Corolla     34300.000000
Volkswagen  Golf       168000.000000
            Jetta       46000.000000
            Passat      29700.000000
            Touareg      8594.586466
Name: Fines, dtype: float64

In [2363]:
print("the standard deviation of the fines grouped by the make and the model in order to better understand the variance:")
data.groupby(["Make", "Model"])["Fines"].std()

the standard deviation of the fines grouped by the make and the model in order to better understand the variance:

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

## make the aggregations with the car number

In [2364]:
print("the car numbers grouped by the number of the fines in descending order:")
group1 = data.groupby("CarNumber")["Fines"].count().sort_values(ascending=False)
print(group1)

the car numbers grouped by the number of the fines in descending order:
CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

In [2365]:
print("all the rows corresponding to the top-1 car number:")
first1 = group1.index.values[0]
data.loc[first1]

all the rows corresponding to the top-1 car number:

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

In [2366]:
print("the car numbers grouped by the sum of the fines in descending order:")
group2 = data.groupby("CarNumber")["Fines"].sum().sort_values(ascending=False)
print(group2)

the car numbers grouped by the sum of the fines in descending order:
CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [2367]:
print("all the rows corresponding to the top-1 car number:")
first2 = group2.index.values[0]
data.loc[first2]

all the rows corresponding to the top-1 car number:

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [2368]:
print("are there any car numbers that were connected to different models?")
data[data.index.isin(data.index[data.index.duplicated()])][['Make', 'Model']].drop_duplicates(keep=False)

are there any car numbers that were connected to different models?

                    Make    Model
CarNumber
E316EH197RUS  Volkswagen     None
E316EH197RUS  Volkswagen  Touareg