In [332]:
import pandas as pd
import sqlite3

## create a connection to the database using the library sqlite3

In [333]:
con = sqlite3.connect("../data/checking-logs.sqlite.sqlite copy")

## create a new table datamart in the database by joining the tables pageviews and checker using only one query

In [334]:
query = "SELECT c.uid, c.labname, c.timestamp AS 'first_commit_ts', p.datetime AS 'first_view_ts' " \
        "FROM checker c LEFT JOIN pageviews p USING (uid) " \
        "WHERE c.status='ready' AND c.numTrials='1' AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1') AND c.uid LIKE 'user_%' " \
        "GROUP BY c.uid, c.labname ORDER BY uid ASC;"
datamart = pd.io.sql.read_sql(query, con, parse_dates=['first_commit_ts', 'first_view_ts'], index_col='uid')
datamart

         labname            first_commit_ts              first_view_ts
uid
user_1    laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
user_1   laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
user_1    laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
user_1    laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
user_1   laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
...          ...                        ...                        ...
user_8   laba04s 2020-04-19 10:22:35.761944                        NaT
user_8    laba05 2020-05-02 13:28:07.705193                        NaT
user_8    laba06 2020-05-16 17:56:15.755553                        NaT
user_8   laba06s 2020-05-16 20:01:07.900727                        NaT
user_8  project1 2020-05-14 15:42:04.002981                        NaT

[140 rows x 3 columns]

## using Pandas methods, create two dataframes: test and control

In [335]:
print("test should have the users that have the values in first_view_ts:")
test = pd.DataFrame(datamart)
test = test[test['first_view_ts'].notnull()]
test

test should have the users that have the values in first_view_ts:

          labname            first_commit_ts              first_view_ts
uid
user_1     laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
user_1    laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
user_1     laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
user_1     laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
user_1    laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
user_1   project1 2020-05-14 20:56:08.898880 2020-04-26 21:53:59.624136
user_10    laba04 2020-04-25 08:24:52.696624 2020-04-18 12:19:50.182714
user_10   laba04s 2020-04-25 08:37:54.604222 2020-04-18 12:19:50.182714
user_10    laba05 2020-05-01 19:27:26.063245 2020-04-18 12:19:50.182714
user_10    laba06 2020-05-19 11:39:28.885637 2020-04-18 12:19:50.182714
user_10   laba06s 2020-05-20 07:37:31.175817 2020-04-18 12:19:50.182714
user_10  project1 2020-05-12 20:12:28.056618 2020-04-18 12:19:50.182714
user_14    laba04 2020-04-18 15:14:00.312338 2020-04-18 10:53:52.623447
user_14   laba04s 2020-04-18 22:30:30.247628 2020-04-18 10:53:52.623447
user_14    laba05 2020-04-30 11:33:04.523118 2020-04-18 10:53:52.623447
user_14  project1 2020-05-05 21:35:43.554986 2020-04-18 10:53:52.623447
user_17    laba04 2020-04-23 14:24:29.947554 2020-04-18 10:56:55.833899
user_17   laba04s 2020-04-25 12:10:56.414175 2020-04-18 10:56:55.833899
user_17    laba05 2020-05-02 13:21:24.045876 2020-04-18 10:56:55.833899
user_17    laba06 2020-05-21 15:21:31.567615 2020-04-18 10:56:55.833899
user_17   laba06s 2020-05-21 17:39:17.783615 2020-04-18 10:56:55.833899
user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
user_18    laba04 2020-04-26 19:48:11.822365 2020-04-26 22:49:29.243278
user_18   laba04s 2020-04-26 20:03:56.935458 2020-04-26 22:49:29.243278
user_18    laba05 2020-05-03 13:01:34.848756 2020-04-26 22:49:29.243278
user_18  project1 2020-05-11 10:10:04.166881 2020-04-26 22:49:29.243278
user_19    laba04 2020-04-20 19:05:01.297780 2020-04-21 20:30:38.034966
user_19    laba05 2020-05-02 15:16:13.586405 2020-04-21 20:30:38.034966
user_19    laba06 2020-05-19 10:25:54.121465 2020-04-21 20:30:38.034966
user_19   laba06s 2020-05-21 13:27:06.705881 2020-04-21 20:30:38.034966
user_19  project1 2020-05-14 10:33:45.495389 2020-04-21 20:30:38.034966
user_21    laba04 2020-04-21 17:48:00.487806 2020-04-22 22:40:36.824081
user_21   laba04s 2020-04-22 20:09:21.857747 2020-04-22 22:40:36.824081
user_21    laba05 2020-05-02 14:05:40.013959 2020-04-22 22:40:36.824081
user_21    laba06 2020-05-19 19:30:14.644328 2020-04-22 22:40:36.824081
user_21  project1 2020-05-10 15:21:05.442755 2020-04-22 22:40:36.824081
user_25    laba04 2020-04-20 19:16:50.673054 2020-05-09 23:54:54.260791
user_25   laba04s 2020-04-26 21:07:56.952117 2020-05-09 23:54:54.260791
user_25    laba05 2020-05-01 13:02:27.357650 2020-05-09 23:54:54.260791
user_25    laba06 2020-05-18 17:07:47.988807 2020-05-09 23:54:54.260791
user_25   laba06s 2020-05-20 14:02:26.512032 2020-05-09 23:54:54.260791
user_25  project1 2020-05-08 11:10:28.100852 2020-05-09 23:54:54.260791
user_28    laba04 2020-04-22 21:47:19.707242 2020-05-10 21:07:50.350946
user_28   laba04s 2020-04-26 15:53:44.906136 2020-05-10 21:07:50.350946
user_28    laba05 2020-05-01 18:29:11.968537 2020-05-10 21:07:50.350946
user_28    laba06 2020-05-17 17:08:48.257050 2020-05-10 21:07:50.350946
user_28   laba06s 2020-05-20 20:42:44.423160 2020-05-10 21:07:50.350946
user_28  project1 2020-05-12 14:42:19.166414 2020-05-10 21:07:50.350946
user_3     laba04 2020-04-23 20:29:14.054364 2020-05-08 10:53:47.123832
user_3    laba04s 2020-04-23 20:40:26.883591 2020-05-08 10:53:47.123832
user_3     laba05 2020-05-01 11:29:17.988118 2020-05-08 10:53:47.123832
user_3     laba06 2020-05-17 09:56:40.480319 2020-05-08 10:53:47.123832
user_3    laba06s 2020-05-19 08:42:50.851878 2020-05-08 10:53:47.123832
user_3   project1 2020-05-07 21:02:52.885133 2020-05-08 10:53:47.123832
user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035
user_30   laba04s 2020-04-18 14:51:37.498399 2020-04-17 22:46:26.785035
user_30    laba05 2020-05-01 19:31:18.375833 2020-04-17 22:46:26.785035
user_30    laba06 2020-05-19 17:53:15.088248 2020-04-17 22:46:26.785035
user_30  project1 2020-04-22 12:36:24.053518 2020-04-17 22:46:26.785035

In [336]:
print("test should have the users that have the values in first_view_ts:")
control = pd.DataFrame(datamart)
control = control[control['first_view_ts'].isnull()]
print(control)

test should have the users that have the values in first_view_ts:
          labname            first_commit_ts first_view_ts
uid
user_11    laba05 2020-05-03 21:06:55.970293           NaT
user_11  project1 2020-05-03 23:45:33.673409           NaT
user_12    laba04 2020-04-18 17:07:51.767358           NaT
user_12   laba04s 2020-04-26 15:42:38.070593           NaT
user_12    laba05 2020-05-03 08:39:25.174316           NaT
...           ...                        ...           ...
user_8    laba04s 2020-04-19 10:22:35.761944           NaT
user_8     laba05 2020-05-02 13:28:07.705193           NaT
user_8     laba06 2020-05-16 17:56:15.755553           NaT
user_8    laba06s 2020-05-16 20:01:07.900727           NaT
user_8   project1 2020-05-14 15:42:04.002981           NaT

[81 rows x 3 columns]

In [337]:
print("replace the missing values in the control with the average first_view_ts of the test users, we will use this value for the future analysis:")
control['first_view_ts'].fillna(test['first_view_ts'].mean(), inplace=True)
control

replace the missing values in the control with the average first_view_ts of the test users, we will use this value for the future analysis:

          labname            first_commit_ts                 first_view_ts
uid
user_11    laba05 2020-05-03 21:06:55.970293 2020-04-27 00:40:05.761783552
user_11  project1 2020-05-03 23:45:33.673409 2020-04-27 00:40:05.761783552
user_12    laba04 2020-04-18 17:07:51.767358 2020-04-27 00:40:05.761783552
user_12   laba04s 2020-04-26 15:42:38.070593 2020-04-27 00:40:05.761783552
user_12    laba05 2020-05-03 08:39:25.174316 2020-04-27 00:40:05.761783552
...           ...                        ...                           ...
user_8    laba04s 2020-04-19 10:22:35.761944 2020-04-27 00:40:05.761783552
user_8     laba05 2020-05-02 13:28:07.705193 2020-04-27 00:40:05.761783552
user_8     laba06 2020-05-16 17:56:15.755553 2020-04-27 00:40:05.761783552
user_8    laba06s 2020-05-16 20:01:07.900727 2020-04-27 00:40:05.761783552
user_8   project1 2020-05-14 15:42:04.002981 2020-04-27 00:40:05.761783552

[81 rows x 3 columns]

In [338]:
print("save both tables into the database, you will use them in the next exercises:")
try:
        test.to_sql('test', con)
        print("table 'test' is saved")
        control.to_sql('control', con)
        print("table 'control' is saved")
except ValueError as e:
        print(e)

save both tables into the database, you will use them in the next exercises:
Table 'test' already exists.

## close the connection

In [339]:
con.close()